html {
     overflow-y: scroll;
}

body { 
	margin:0px 0px 0px 0px;
	font-family:verdana, Arial, Helvetica, sans-serif;
}

#frame {
	margin:0px auto 0px auto;
	padding:0px 0px 0px 0px;
	width:800px;
	height:auto;
	border:0px solid #7CA9D7;
	background-color:#ffffff;
}

#header { 
	margin:0px 0px 0px 0px;
	width:800px;
	height:187px;
}

#left {
	clear:both;
	float:left;
	width:250px;
	margin:10px 0px 0px 0px;
	min-height:200px;
	height:auto;
	border-right: 1px dotted #7CA9D7;
	padding:0px 10px 10px 10px;
}

#right {
	float:right;
	width:500px;
	margin:10px 10px 50px 5px;
	min-height:225px;
	height:auto;
}

h1 {
    font-family: "Times New Roman", Times, serif;
	color:#000000;
	vertical-align:text-bottom;
	font-size:14px;
	font-weight: normal;

}

h2 {
    color:#2B5381;
    font-size:21px;
}

h3 {
    color:#2B5381;
    font-size:17px;
}

h4 {
    color:#2B5381;
    font-size:14px;
}

#footer {
    clear:both;
    width:780px;
    padding:10px;
    margin:0;
    font-size:9px;
    text-align:left;
    color:#000000;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
}
